/* Seção de Contato */
#contato {
    padding: 50px 20px;
    background-color: #151515;
    /* Cor de fundo da seção */
    color: #fff;
    /* Cor do texto */
}

.container-contato {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0px;
}

.formulario-contato,
.info-contato {
    flex: 1;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 300;
}

h3 {
    font-size: 2.0em;
    margin-bottom: 10px;
    font-weight: 300;
}

form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #151515;
    border-radius: 5px;
    border: solid 3px #00d2df;
}


form button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #151515;
    border: solid 5px #00d2df;
    border-radius: 5px;
    text-decoration: none;
    transition: border-color 1.5s ease, box-shadow 1s ease;
}

form button:hover {
    border-color: #fff;
    box-shadow: 0 0 35px #00d2df;
}

.form-message {
    display: none;
    color: #00d2df;
    margin-top: 20px;
    
}

.info-contato {
    text-align: left;
    padding: 100px 20px 20px;
    margin-left: 50px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

h3 {
    margin-top: 20px;

}

.redes-sociais h3 {
    color: #fff;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}

.redes-sociais a svg {
    margin-right: 10px;
}

.redes-sociais a:hover {
    color: #00d2df;
    transform: translateX(5px);
}

.redes-sociais a:visited {
    color: #fff;
    /* Mantém a cor original */
}

.email-text {
    font-size: 1.5em;
    margin-right: 0px;
}


.btn-copy {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: #151515;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
}

.btn-copy svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.btn-copy:hover {
    background-color: #00d2df;
    transform: scale(1.0);
}

.btn-copy:active {
    transform: scale(0.95);
}

/* CSS Responsivo */
@media (max-width: 768px) {
    #contato {
        padding: 10px 20px 20px;
    }

    .container-contato {
        flex-direction: column;
        gap: 20px;
    }

    .formulario-contato,
    .info-contato {
        width: 90%;
        padding: 0px;
        margin: 0 auto;
        text-align: left;
    }

    .btn-enviar {
        text-align: center;
    }

    #contato h2 {
        text-align: center;
        /* Centraliza o título "Contato" */
        font-size: 2.5em;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 5pxpx;
        color: #fff;
    }

    .info-contato {
        padding-top: 0;
    }

    .info-contato h3 {
        font-size: 1.8em;
        padding-top: 0;
        margin-bottom: 0px;
        color: #00d2df;
    }

    .redes-sociais {
        align-items: left;
    }

    .redes-sociais a {
        justify-content: center;
    }

    form label,
    form input,
    form textarea,
    form button {
        font-size: 1em;
    }

    h2,
    h3 {
        font-size: 1.5em;
        /* Diminui o tamanho da fonte dos títulos */
        padding: 20px 0px 0px;
        color: #00d2df;
    }

    .email-text {
        font-size: 1.2em;
    }

    .btn-copy {
        width: 40px;
        height: 40px;
    }

    .btn-copy svg {
        width: 20px;
        height: 20px;
    }
}

/* Regras adicionais para telas ainda menores, como smartphones */
@media (max-width: 480px) {
    .container-contato {
        padding: 20px;
        /* Ajusta o padding para telas muito pequenas */
    }

    form label,
    form input,
    form textarea,
    form button {
        font-size: 0.9em;
        /* Reduz ainda mais o tamanho da fonte */
    }

    h2,
    h3 {
        font-size: 1.2em;
        /* Reduz o tamanho dos títulos */
    }
}