@import url('style.css');

.projetos {
    padding: 50px 20px;
    background-color: #151515; /* Cor de fundo leve */
}

.projetos .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 20px;
    text-align: center;
}

.projetos h2 {
    font-size: 2.5em;
    font-weight: 300;
    padding: 0px 10px 50px;
    margin-bottom: 20px;
    color: #fff;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 10px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden; 
}

.projeto-card {
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: border-color 1.5s ease, box-shadow 1s ease;
    text-align: left;
    padding: 0px;
    border: solid 5px #00d2df;
}

.card-info{
    margin-top: 0px;
    padding: 0px 20px 20px;
}
.hidden {
    display: none;
}


.projeto-card img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-bottom: solid 3px #fff;
}

.img-card{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.projeto-card h3 {
    font-size: 1.8em;
    font-weight: 200;
    margin-top: 0px;
    padding: 5px 0px 0px;
    color: #fff;
}

.projeto-card p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
}

.btn-projeto {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: none;
    border: solid 5px #00d2df;
    border-radius: 5px;
    text-decoration: none;
    transition: border-color 1.5s ease, box-shadow 1s ease;
}

.btn-projeto:hover {
    border-color: #fff; 
    box-shadow: 0 0 35px #00d2df; 
}

.projeto-card:hover {
    transform: translateY(-5px);
    border-color: #fff; 
    box-shadow: 0 0 35px #00d2df;
}

.load-btn{
    padding: 20px 10px 10px;
}

.btn-load-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #151515; /* Cor de fundo do botão */
    border: solid 5px #00d2df;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    transition: border-color 0.5s ease, box-shadow 1s ease;
}

.btn-load-more:hover {
    border-color: #fff; 
}

/* Consultas de Mídia para dispositivos móveis */
@media (max-width: 768px) {
    
    .projetos{
        padding: 0px 20px 20px;
    }
    .projetos-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .projeto-card h3 {
        font-size: 1.5em;
    }

    .projeto-card p {
        font-size: 1em;
    }

    .btn-projeto {
        font-size: 1em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .projetos h2 {
        font-size: 2em;
    }

    .projeto-card h3 {
        font-size: 1.3em;
    }

    .projeto-card p {
        font-size: 0.9em;
    }

    .btn-projeto {
        font-size: 0.9em;
        padding: 6px 12px;
    }
}