/*Main CSS*/

@import url('menu.css');
@import url('inicio.css');
@import url('sobre-mim.css');
@import url('projetos.css');
@import url('habilidades.css');
@import url('contato.css');


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif; 
    line-height: 1.5; 
    background-color: black; 
}

